<div class="restaurantDiv">
  <div class="singleResto" *ngFor="let i of allRestaurants" (click)="showDetails(i.id)">
    <img [src]="i.restaurantImage" alt="">
    <div class="restoName">
      <h3>{{i.restaurantName}}</h3>
      <div class="openDiv">
        <p *ngIf="i.isOpen == true">Open Now</p>
        <p *ngIf="i.isOpen == false" class="closed">Closed</p>
      </div>
    </div>
    <div class="restoDiscr">
      {{i.restaurantDescription}}
    </div>
  </div>
</div>

<div class="filters">
  <div class="filterDiv">
    <i class="fa-solid fa-xmark" onclick="hideFilter()"></i>
    <h2>Search Filters</h2>
    <h2>Sort by</h2>
    <div class="open" onclick="toggleOpen()" (click)="toggleOpen()">
      <div class="fa-solid fa-fire-flame-curved"></div>
      <p>open</p>
    </div>
    <h2>Cuisine</h2>
    <div class="cuisine">
      <div class="cuisineList" (click)='selectCuisine("All")'>All</div>
      <div class="cuisineList" (click)='selectCuisine("Fast Food")'>Fast Food</div>
      <div class="cuisineList" (click)='selectCuisine("American Food")'>American Food</div>
      <div class="cuisineList" (click)='selectCuisine("Pizza")'>Pizza</div>
      <div class="cuisineList" (click)='selectCuisine("Asian")'>Asian</div>
      <div class="cuisineList" (click)='selectCuisine("Dessert")'>Dessert</div>
      <div class="cuisineList" (click)='selectCuisine("Mexican")'>Mexican</div>
      <div class="cuisineList" (click)='selectCuisine("Breakfast")'>Breakfast</div>
    </div>
    <div class="seeMore">
      see more
      <i class="fa-solid fa-angle-down"></i>
    </div>
    <div class="applyFilter" (click)="applyFilter()">Apply Filters</div>
  </div>
</div>