<div class="filters">
  <div class="filterDiv">
    <i class="fa-solid fa-xmark" onclick="hideFilter()"></i>
    <h2>Search Filters</h2>
    <h2>Sort by</h2>
    <div class="open">
      <div class="fa-solid fa-fire-flame-curved"></div>
      <p>open</p>
    </div>
    <h2>Cuisine</h2>
    <div class="cuisine">
      <div class="cuisineList">All</div>
      <div class="cuisineList">Fast Food</div>
      <div class="cuisineList">American Food</div>
      <div class="cuisineList">Pizza</div>
      <div class="cuisineList">Asian</div>
      <div class="cuisineList">Dessert</div>
      <div class="cuisineList">Mexican</div>
      <div class="cuisineList">Breakfast</div>
    </div>
    <div class="seeMore">
      see more
      <i class="fa-solid fa-angle-down"></i>
    </div>
    <div class="applyFilter">Apply Filters</div>
  </div>
</div>